/** @format */

.form {
	max-width: 555px;
}
.title {
}

.titleSpan {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
}

.input {
	width: 100%;
	height: 24px;
	background: #ffffff;
	border: 1px solid #d0d5dd;
	box-shadow: 0px 1px 2px rgba(24, 40, 16, 0.05);
	border-radius: 8px;
	padding: 10px 14px;
	margin: 0 0 28px 0;
}

.inputDescription {
	width: 100%;
	height: 128px;
	resize: none;
}
.error {
	color: rgb(193, 0, 0);
}
.button {
	background: #56b87d;
	border: 1px solid #56b87d;
	box-shadow: 0px 1px 2px rgba(24, 40, 16, 0.05);
	border-radius: 8px;
	width: 154px;
	height: 60px;
	cursor: pointer;
	transition: 0.3s;
}
.button:hover {
	background: #377650;
}
.buttonBody {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	color: #ffffff;
}
.buttonBody span {
	margin: 0 14px 0 0;
}
