/** @format */

.container {
	display: flex;
	flex-direction: row;
	padding: 32px;
	height: 78vh;
	justify-content: space-between;
}
.container > div {
	width: 47%;
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 8px;
	padding: 18px 7px 18px 18px;
}
.title {
	font-family: Poppins;
	font-size: 18px;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: 0px;
	text-align: left;
	margin-bottom: 18px;
}

.titleSpan {
	box-sizing: border-box;
	width: 24px;
	height: 24px;
	padding: 6px 8px;
	background-color: #f2f4f7;
	border-radius: 50%;
	font-size: 12px;
	font-weight: 500;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: center;
	color: #344054;
}

.table {
	box-sizing: border-box;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow-y: scroll;
	max-height: 100%;
}
.table::-webkit-scrollbar {
	width: 4px;
	margin-left: 7px;
}

.table::-webkit-scrollbar-track {
	background-color: transparent;
}

.table::-webkit-scrollbar-thumb {
	background-color: #bcc8bc;
	border-radius: 8px;
}
.todosHeader {
	box-sizing: border-box;
	display: flex;
	height: 44px;
	align-items: center;
	border-bottom: 1px solid #e4e7ec;
}

.invoice {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	width: 56%;
	color: #667085;
	padding-left: 8px;
	text-align: left;
}
.status,
.dueDate {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	width: 22%;
	color: #667085;
	padding-left: 12px;
	text-align: left;
}
