/** @format */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

a {
	text-decoration: none;
}
body {
	box-sizing: border-box;
	background-color: #f4f6f4;
	font-family: "Poppins";
	height: 100vh;
}
body,
select {
	box-sizing: border-box;
}
h1,
h2 {
	margin: 0;
}
